h1.titulo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: DodgerBlue;
}
h2.nome{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: RoyalBlue;
}
h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: RoyalBlue;
}
ul#contato{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    width: 400px;    
    margin: 0 auto;
    margin-bottom: 20px;
}
ul li{
    padding: 2px;
}
div{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    border-width: 2px;
    border-color: #666;
    border-style: solid;
    text-align: center;
    background-color: Silver;
    line-height: 1.9;
    margin-left: 200px;
    margin-right: 200px;
    font-weight: normal;
}
div#inicio{
    background-color: transparent;
}
div#infoacad p{
    text-align: center;
}
p{
    text-align: justify;
    margin: 30px 50px 30px 50px;
    
}

